@model LearningMaterial
@using CDO.Data

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Учебный материал</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemecdNavigation.DisciplinecdNavigation.Disciplinename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemecdNavigation.DisciplinecdNavigation.Disciplinename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemecdNavigation.Themename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemecdNavigation.Themename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materialname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materialname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materialcontent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materialcontent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materialvolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materialvolume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="LearningMaterial" asp-route-cd="@Model.LearningMaterialcd">Редактировать</a> |
    <a asp-action="Index" asp-controller="LearningMaterial">Вернуться</a>
</div>
