@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<h1>Пользователи</h1>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolecdNavigation.Rolename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupcdNavigation.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolecdNavigation.Rolename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupcdNavigation.Number)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="User" asp-route-cd="@item.Usercd">Изменить</a> |
                    @* <a asp-action="Details" asp-controller="Theme" asp-route-cd="@item.Usercd">Подробности</a> | *@
                    <a asp-action="Delete" asp-controller="User" asp-route-cd="@item.Usercd">Удалить</a> |
                    @{
                        if (item.Teacher is false & item.RolecdNavigation.Rolename == "Student")
                        {
                            <a asp-action="Index" asp-controller="Progress" asp-route-searchstring ="@item.Fio" asp-route-cd="@item.Usercd">Успеваемость</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
