@model Test

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить тест?</h3>
<div>
    <h4>Тест</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testnumquest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testnumquest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testduration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testduration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinecdNavigation.Disciplinename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinecdNavigation.Disciplinename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemecdNavigation.Themename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemecdNavigation.Themename)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsercdNavigation.Fio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsercdNavigation.Fio)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Testcd" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
